<div class=" text-white py-3" id="footer">
  <div class="wrapper container">
    <div class="row">
      <div class="col-7 mt-4" id="footerCol7">
        <span class="h6" id="footerLogo">Children of Bodom</span>
        <ul class="social-links" id="socialAccount">
          <li class="instagram me-3" id="instagram">
            <a href="https://www.instagram.com/cobhc/" type="button" class="footer-link" target="_blank">
              <span class="footer-icon" id="appIcon">
                <i class="fa-brands fa-instagram"></i>
              </span>
            </a>
          </li>
          <li class="facebook me-3" id="facebook">
            <a href="https://www.facebook.com/childrenofbodom/" type="button" class="footer-link" target="_blank">
              <span class="footer-icon" id="appIcon">
                <i class="fa-brands fa-facebook"></i>
              </span>
            </a>
          </li>
          <li class="twitter me-3" id="twitter">
            <a href="https://twitter.com/cobhc" type="button" class="footer-link" target="_blank">
              <span class="footer-icon" id="appIcon">
                <i class="fa-brands fa-twitter"></i>
              </span>
            </a>
          </li>
          <li class="spotify me-3" id="spotify">
            <a href="https://open.spotify.com/artist/1xUhNgw4eJDZfvumIpcz1B" type="button" class="footer-link" target="_blank">
              <span class="footer-icon" id="appIcon">
                <i class="fa-brands fa-spotify"></i>
              </span>
            </a>
          </li>
          <li class="youtube me-3" id="youtube">
            <a href="https://www.youtube.com/channel/UCEZvQo35kSV8EzGKHKGsq3A" type="button" class="footer-link" target="_blank">
              <span class="footer-icon" id="appIcon">
                <i class="fa-brands fa-youtube"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-5 mt-3" id="footerCol5">
        <div id="footerInfo">© 2022 - Children Of Bodom -</div>
        <div class="designed" id="designed">Website Designed & Developed by Burak Parçal.</div>
      </div>
    </div>
  </div>
</div>
