<div class="navbar navbar-expand-lg">
  <div class="container-fluid" id="mainNav">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobile">
      <span class="navbar-toggle-icon">
        <i class="fa-solid fa-bars"></i>
      </span>
    </button>
    <a routerLink="/" class="text-white ms-3" id="navLogo">Children Of Bodom</a>
    <div id="mobile" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-3" id="navbarNav">
        <li class="nav-item">
          <a routerLink="/" class="nav-btn text-white" id="homeLink">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="albums" class="nav-btn text-white" id="albumsLink">Albums</a>
        </li>
        <li class="nav-item">
          <a routerLink="media" class="nav-btn text-white" id="mediaLink">Media</a>
        </li>
        <li class="nav-item">
          <a routerLink="tour" class="nav-btn text-white" id="tourLink">Tour</a>
        </li>
        <li class="nav-item">
          <a routerLink="history" class="nav-btn text-white" id="historyLink">History</a>
        </li>
      </ul>
    </div>
  </div>
</div>
