<div class="contents" style="height: 800px;">
  <div class="container">
    <h2 id="title">History</h2>
  </div>
  <div class="history py-4">
    <p>
      <b> Children of Bodom</b>, bir Fin ekstrem metal grubuydu. 1993'te
      kurulan grup, Alexi Laiho (vokal, solo gitar), Janne Wirman (klavye),
      Henkka Seppälä (bas gitar), Jaska Raatikainen (bateri) ve Daniel
      Freyberg (ritim gitar) dan oluşmaktadır. Grubun toplamda sekiz stüdyo
      albümü, iki konser albümü, iki EP'si, iki toplama albümü ve bir DVD'si
      bulunmaktadır. İlk kez üçüncü stüdyo albümü Follow the Reaper'la
      Finlandiya'da altın sertifika elde eden grup, daha sonra diğer
      albümlerinde de aynı başarıyı sağladı. Art arda yayınladığı
      albümleriyle Finlandiya albüm listelerine birinci sıradan giriş
      yapan[1] Children of Bodom, bunun yanı sıra Billboard 200'de de önemli
      liste konumları gördü. Yaptığı müzik eleştirilerde daha çok melodik
      death metal,[2] power metal,[3] thrash metal,[4][5], erken senfonik
      black metal ve neoclassical metal olarak tanımlanan grup, tek başına
      250 bin satışla Finlandiya'nın en çok satan sanatçılarındandır.
      2019'da Children of Bodom, grubu dağılmadan önce Helsinki'de A Chapter
      Called Children of Bodom adlı son konserini verdi. Alexi Laiho ve
      Freyberg, 2020'de Bodom After Midnight olarak devam etti. Children of
      Bodom'un kurucu üyelerinden ve aynı zamanda ana söz yazarı olan Laiho,
      29 Aralık 2020'de öldü.
    </p>
    <p>
      Children of Bodom, 1993'te gitarist Alexi "Wildchild" Laiho ve
      baterist Jaska Raatikainen tarafından Inearthed adıyla kuruldu.
      Birbirini çocukluk yıllarından beri tanıyan bu iki müzisyen; ilk
      çalışmalarını Dissection, Entombed ve Obituary gibi önemli grupların
      müziğinden etkilenerek gerçekleştirdiler. Bas gitarist Samuli
      Miettinen'in de kadroya girmesiyle birlikte aynı yılın ağustos ayında
      ilk demosunu kaydeden grup, bu çalışmaya Implosion of Heaven adını
      verdi. Bu demoda ve onu takip eden 2 sene boyunca grupta şarkı sözü
      yazarlığını üstlenen Samuli, 1995'te ailesinin Amerika'ya taşınması
      nedeniyle gruptan ayrılmak zorunda kaldı. Son olarak Ubiquitous
      Absence of Remission demosundaki şarkı sözlerine imza atan Samuli,
      daha sonra bu görevi Laiho'ya devretti. Bahsi geçen demo aynı zamanda
      grupta klavyenin kullanıldığı ilk çalışma oldu. Demonun kaydından kısa
      bir süre sonra Alexander Kuoppala ritim gitarist olarak grubun
      kadrosuna dahil oldu. Samuli'nin yerine Henkka "Blacksmith" Seppälä
      geçerken, Jani Pirisjoki de klavyeci olarak gruptaki yerini aldı.
    </p>
    <p>
      Yeni kadrosuyla Shining adlı yeni bir demo kaydeden grup, ne plak
      şirketlerinin ne de organizatörlerin ilgisini çekebilmişti.[6] Bunun
      üzerine grup elemanları kendi çabalarıyla bir albüm kaydetmeye karar
      verdiler. Bu esnada provalara gelmeyen Jani'nin yerini Janne "Warman"
      Wirman aldı. Wirman ilerleyen zamanda grubun soundunu oluşturacak
      elemanın ta kendisiydi.
    </p>
    1997 yılında Astia Records'ta kaydedilen Something Wild piyasaya
    sürülmeden önce grupta bazı gelişmeler yaşandı.Spinefarm Records'tan
    teklif alan Shining grubu bu fırsatı değerlendirmek için bulunduğu
    Belçikalı kayıt şirketini "Shining grubu dağıldı." diyerek şirketi
    atlatırlar.Grup için yeni isim bulmak gerekiyordu ve Espoo şehrinin
    birkaç kilometre ötesinde bulunan Bodom Gölü'ndeki yaşanan vahşi olaydan
    esinlenilerek Children of Bodom konulmuştur.
  </div>
</div>
