<div class="contents mx-auto" id="news">
  <div class="container text-center" id="newsTitle">
    <h2 class="text-white my-3 mx-auto" id="title">News</h2>
  </div>
  <div class="news">
    <div class="row" id="newsRow">
      <div class="col-6">
        <div class="card ms-5" id="news1">
          <img src="../../assets/images/bodombar_nega_png-2048x2048.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="fs-5">DEC 2, 2022</h4>
            <h2 class="card-title fs-4">Bodom Bar & Sauna now open in Espoo</h2>
            <p class="card-text">Bodom Bar & Sauna in Espoo is filled with COB memorabilia from instruments to fan items, come explore the ”museum” or just to enjoy your favourite drink.</p>
            <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#newsModal1" id="readBtn">
              Read More
            </button>
            <div class="modal" id="newsModal1" data-bs-backdrop="static" tabindex="-1" aria-labelledby="news1Label" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="news1Label">BODOM BAR & SAUNA NOW OPEN IN ESPOO, FINLAND</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btnClose"></button>
                  </div>
                  <div class="modal-body">
                    <p>We toured actively from 1998 until 2019. We have visited a bar in almost every town we ever played in. From Hard Rock Café Tokyo to a dive bar in the outskirts of Milwaukee. Everything from the legendary Rainbow Bar and Grill in West Hollywood to the Crobar in London UK.</p>
                    <p>Almost everyone in our profession dreams of opening their own bar at some point and we were no exception. When the active career of CoB was already coming to an end we started looking into it a bit more seriously. We had a warehouse full of memorabilia and we thought that a lot of people would want to see some of this stuff that used to be and still was very meaningful to us and the career of the band.</p>
                    <p>A thought of a museum felt a bit foreign but an idea of a bar that works as a museum displaying our gear and memorabilia seemed quite natural at this point. We had almost given up on this dream when the power duo of Jykä Peltonen and Kimmo Helistö emerged and were ready to provide us with their know how in the matter. Together we built this unholy concoction of a hard ock café and a dive bar with a lot of Bodom in it. </p>
                    <p>The new HQ of CoB combines a museum and a bar but also includes the possibility to experience the Finnish sauna culture. Situated naturally in Espoo only a stone´s throw away where the band started their career.</p>
                    <p>Bodom Bar & Sauna is filled with COB memorabilia from instruments to fan items – come explore the ”museum” or just to enjoy your favourite drink.</p>
                    <p>Bodom Bar & Sauna is now open at Merituulentie 35, 02200 ESPOO. Welcome! </p>
                    <p class="h5">Opening hours:</p>
                    <p class="fw-bold text-warning">Mon-Thu 16-00</p>
                    <p class="fw-bold text-warning">Friday 14-02</p>
                    <p class="fw-bold text-warning">Saturday 12-02</p>
                    <p class="fw-bold text-warning">Sunday 12-20</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card ms-5" id="news2">
          <img src="../../assets/images/Exhibition-Open.jpeg" class="card-img-top" alt="...">
          <div class="card-body ">
            <h4 class="fs-5">OCT 10, 2022</h4>
            <h2 class="card-title fs-4">Photo Exhibition now open – limited fine art prints available</h2>
            <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#newsModal2" id="readBtn">
              Read More
            </button>
            <div class="modal" id="newsModal2" data-bs-backdrop="static" tabindex="-1" aria-labelledby="news2Label" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="news2Label">Photo Exhibition now open – limited fine art prints available</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btnClose"></button>
                  </div>
                  <div class="modal-body">
                    <p>Strikes and Gutters, Ups and Downs - Children of Bodom in retrospective photos – 6.-30.10.2022. Espoon Kulttuurikeskus - Näyttelytila AHJO.</p>
                    <p>The exhibition is open during the opening hours of Espoo Cultural Centre (Mon–Fri 8–21, Sat 9–18 ja Sun 9–15).  Free entry.</p>
                    <p class="fs-5 text-uppercase text-danger">THE STORY OF CHILDREN OF BODOM STARTED IN THE EARLY 1990’S IN TAPIOLA, ESPOO. FIVE YOUNG GUYS WITH A BURNING DESIRE FOR MAKING MUSIC.</p>
                    <p>At some point the basements and garages of Espoo became too confined and we moved to Lepakko in Helsinki. </p>
                    <p>Years of van touring playing small shows with no sleep all around Finland. Adhering to a very strict rehearsal routine. Drank a lot of beer. We did hit a few dead ends all while either freezing or sweating our asses off.</p>
                    <p>Already before the Y2K we were partying all around the world. We had toured Europe extensively and visited Japan. We had no idea there was going to be two decades of this lifestyle ahead</p>
                    <p>In those two decades of touring the band sculpted a public image of itself via concert and live photos.</p>
                    <p>Bands on the road are constantly photographed. With every album release a new set of carefully selected photos is released. The majority of the photos of us out there are from live shows. </p>
                    <p>In those shots you see the band doing what bands do and are meant to be doing. Playing live.</p>
                    <p>After a couple of dozen releases and thousands of live shows there are millions of photos of us out there.</p>
                    <p>Children of Bodom was extremely serious about it´s music. At the same time, it was our sense of humour and ability to laugh at ourselves that kept us going. </p>
                    <p>We wanted to bring to light unreleased photos throughout our career that portray the joy and sorrow of playing in a band as well as photos that show the reality of constant touring. We wanna thank each and every photographer for making this possible.</p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="newsRow">
      <div class="col-6">
        <div class="card  ms-5" id="news3">
          <img src="../../assets/images/2022-10-06_AHJO_COB.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="fs-5">SEP 8, 2022</h4>
            <h2 class="card-title fs-4">Bodom Bar & Sauna and a retrospective photo exhibition in Espoo</h2>
            <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#newsModal3" id="readBtn">
              Read More
            </button>
            <div class="modal" id="newsModal3" data-bs-backdrop="static" tabindex="-1" aria-labelledby="news3Label" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="news3Label">Bodom Bar & Sauna and a retrospective photo exhibition in Espoo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btnClose"></button>
                  </div>
                  <div class="modal-body">
                    <p>We have two cool things lined up for this fall in the city of Espoo. Let us tell you more.</p>
                    <p>We toured actively from 1998 until 2019. We have visited a bar in almost every town we ever played in. From Hard Rock Café Tokyo to a dive bar in the outskirts of Milwaukee. Everything from the legendary Rainbow Bar and Grill in West Hollywood to the Crow Bar in London UK.</p>
                    <p>Almost everyone in our profession dreams of opening their own bar at some point and we were no exception. When the active career of CoB was already coming to an end we started looking into it a bit more seriously. We had a warehouse full of memorabilia and we thought that a lot of people would want to see some of this stuff that used to be and still was very meaningful to us and the career of the band.</p>
                    <p>A thought of a museum felt a bit foreign but an idea of a bar that works as a museum displaying our gear and memorabilia seemed quite natural at this point. We had almost given up on this dream when the power duo of Jykä Peltonen and Kimmo Helistö emerged and were ready to provide us with their know how in the matter. Together we will build this unholy concoction of hard rock café and dive bar with a lot of Bodom in it. The new HQ of CoB will combine a museum and a bar but also include the possibility to experience the Finnish sauna culture. Situated naturally in Espoo only a stone´s throw away where the band started their career.</p>
                    <p>Bodom Bar & Sauna is being built in Espoo into a location with easy access to a Metro station. The establishment will also include three saunas. There will be no entry fee to the Bar and no age limit. There will be a fee for the sauna experience. We will open the Bar on 10.11.22</p>
                    <p>But before that we are happy to tell you that the photo exhibition STRIKES AND GUTTERS, UPS AND DOWNS will be taking over the Espoo Cultural Centre 6tn October- 30th October 2022.</p>
                    <p>This is what it is about. </p>
                    <p>The story of Children of Bodom started in the early 1990´s in Tapiola, Espoo. Five young guys with a burning desire for making music.</p>
                    <p>At some point the basements and garages of Espoo became too confined and we moved to Lepakko in Helsinki. </p>
                    <p>Years of van touring playing small shows with no sleep all around Finland. Adhering to very strict rehearsal routine. Drank a lot of beer. We did hit a few dead ends all while either freezing or sweating our asses off.</p>
                    <p>Already before the Y2K we were partying all around the world. We had toured Europe extensively and visited Japan. We had no idea there was going to be two decades of this lifestyle ahead.</p>
                    <p>In those two decades of touring the band sculpts a public image of itself via concert and live photos.</p>
                    <p>Bands on the road are constantly photographed. With every album release a new set of carefully selected photos is released. Majority of photos of us out there are from live shows. In those shots you see the band doing what bands do and are meant to be doing. Playing live.</p>
                    <p>After a couple of dozen releases and a thousands of live shows there are millions of photos of us out there.</p>
                    <p>Children of Bodom was extremely serious about it´s music. At the same time it was our sense of humour and ability to laugh at our selves that kept us going. </p>
                    <p>We wanted to bring into light unreleased photos throughout our career that portray the joy and sorrow of playing in a band but also photos that show the reality of constant touring.</p>
                    <p>This exhibition was put together by a bunch of awesome photographers, the estate of Alexi Laiho and Henkka, Janne and Jaska. We are grateful to have the cultural centre of Espoo to have provided us their space for this exhibition as it was only a stones throw away where the story of Children Of Bodom begun.</p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card ms-5" id="news4">
          <img src="../../assets/images/image001+(10).jpg" class="card-img-top" alt="...">
          <div class="card-body k">
            <h4 class="fs-5">AUG 2, 2022</h4>
            <h2 class="card-title fs-4">End of Fucking Story in Kino Tapiola</h2>
            <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#newsModal4" id="readBtn">
              Read More
            </button>
            <div class="modal" id="newsModal4" data-bs-backdrop="static" tabindex="-1" aria-labelledby="news4Label" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="news4Label">End of Fucking Story in Kino Tapiola</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btnClose"></button>
                  </div>
                  <div class="modal-body">
                    <p>Our home town’s own film festival pays homage to Alexi by doing this cool night cinema. Check it out if you can</p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
